.topfalse{
    width: 100%;
    height: 70px;
    position: fixed;
    background-color:#f9f9f9;
    top:0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 999;
}

.topLeft,.topRight{
    flex:3; 
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo{
    width: 50px;
    height: 50px;
    margin: 5px;
}



.topCenter{
    flex: 6;
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.letstalk{
    font-weight: 600;
    color: #2962ff;
}

.davidImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor : pointer;

}

.topMenuIcon{
    font-size: 28px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}

.hamburger{
    width: 32px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor:pointer;
    margin: 5px;
}

span{
    width: 100%;
    height: 3px;
    background-color:#666;
    transform-origin: left;
    transition: all 2s ease;

}

.topactive {
    display: flex;
    align-items: center;
    background-color:  #000a12;
    color: #fff;
    transition: all 2s ease;
}

.topactive>.hamburger> span :first-child{
    background-color: white;
    transform:rotate(45deg);
    
}

.hamburgeractive > span:nth-child(2){
  opacity:0;
}

.hamburgeractive > span:last-child{
    background-color: white;
    transform:rotate(-45deg);
  }
